body{
    margin:0;
}
.wrapper, header{
    margin: 0;
    padding: 0;
}
.wrapper{
    height:100vh;
    overflow-y:auto;
    overflow-x:hidden;
    perspective:5px;
}
.parallax {
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.forelayer{
    transform: translateZ(-10px)scale(4);
}
.toplayer{
    transform: translateZ(-5px)scale(2)scaleY(0.75);
    margin-top:25%;
    margin-left: -30px;
}
.toplayer,.forelayer{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.title{
    transform: translateZ(-3px)scale(3.5);
    color: white;
    text-shadow: 2px 2px black;
    font-family: "Segoe UI Light", sans-serif;
    letter-spacing: 10px;
}
.subtitle{
    transform: translateZ(-2px)scale(3.5);
    color:white;
    text-shadow: 1px 1px black;
    font-family: monospace;
    letter-spacing: 18px;
    margin-bottom: -20vh;
}
.title,.subtitle{
    position: absolute;
}
main{
    background-image:url("../img/cover.jpg");
    background-color: grey;
}
.opener{
    color:white;
    border: 2px mediumaquamarine ridge;
    max-height: 75vh;
    width: 100%;
    display: inline-block;
    font-family: "Segoe UI Light",monospace;
}
.mostima{
    float: left;
    height: 75vh;
}
article{
    padding: 10px;
    background:rgba(140, 140, 140,0.7);
    border-left: 3px cyan solid;
    margin-top: 10%;
    font-family: "Segoe UI Light",monospace;
    max-height: 75vh;
}
.introduction{
    color:white;
    border: 2px mediumaquamarine ridge;
    height: 75vh;
    width: 100%;
    display: inline-block;
    padding: 2px;
    font-family: "Segoe UI Light",monospace;
}
.penguins{
    float: right;
    height: 50vh;
    border: 10px groove #343a40;
    margin-right: 20px;
    margin-top: 10vh;
}
ul{
    list-style-image: url(../img/ul_icon.png);
    margin-left:20px;
    font-family: "Segoe UI Light",monospace;
    max-height: 75vh;
}
.specs{
    color:white;
    border: 2px mediumaquamarine ridge;
    height: 35vh;
    width: 100%;
    display: inline-block;
    padding: 20px;
    font-family: "Segoe UI Light",monospace;
}
.specquestion{
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 0 limegreen;
    font-family: "Segoe UI Light",monospace;
    max-height: 75vh;
}
table,th,td{
    border-bottom: limegreen 3px solid;
    background-color: rgba(50,140,32,0.6);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: "Segoe UI Light",monospace;
    max-height: 75vh;
}
.form{
    color:white;
    border: 2px mediumaquamarine ridge;
    max-height: 75vh;
    width: 100%;
    display: inline-block;
    padding: 20px;
    font-family: "Segoe UI Light",monospace;
}

ol li{
    padding: 20px;
}
footer{
    color:grey;
    border: 2px white dashed;
    height: 15vh;
    width: 100%;
    padding: 20px;
    padding-bottom: 30px;
    font-family: "Segoe UI Light",monospace;
    background-color: #343a40;
    text-align: center;
}
.links{
    border: hidden;
    border-radius: 20px;
    margin-right: 10vw;
    margin-left: 10vw;
    max-width: 65px;
    max-height: 65px;
}
